<h1>Profile Page</h1>

<h3>Email: <%= @user.email %></h3>
<% if @user.username? %>
<h3>Username: <%= @user.username %></h3>
<% end %>

<h2>Special Skills</h2>
<ul>
<% @user.skills.uniq.each do |skill| %>
<!-- @user.skills.distinct.pluck(:name).each -->
<li>
<p><%= skill.name %></p>
<p>total hours: <%= skill.entries.sum(:hours) %></p>
</li>
<% end %>
</ul>

<p><%= link_to "Add a New Entry", new_entry_path %></p>
<p><%= link_to "Add a New Skill to the Database", new_skill_path %></p>

<!-- for doing sum of hours
 @cart.items.joins(:product).sum("products.price") -->