<h1>Add a New Entry</h1>

<% if @entry.errors.any? %>
  <h2>There were errors saving your entry</h2>
  <ul>
    <% @entry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @entry do |f| %>

<fieldset>
    <%= f.label :skill_id, "Select a Skill" %>
    <%= f.collection_select :skill_id, @skills, :id, :name %>
    <%= f.label :hours %>
    <%= f.text_field :hours %>
    <%= f.label :note %>
    <%= f.text_area :note %>
</fieldset>
    <%= f.submit %>
    <% end %>