<h1>Add Hours To Your Cumulative Skill</h1>

<% if @entry.errors.any? %>
  <h2>There were errors saving your entry</h2>
  <ul>
    <% @entry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @entry do |f| %>

<fieldset>
<legend>New Entry</legend>
    <div class="form">
    <%= f.label :skill_id, "Select a Skill" %>
    <%= f.collection_select :skill_id, @skills, :id, :name %>
    </div><div class="form">
    <%= f.label :hours %>
    <%= f.text_field :hours %>
    </div><div class="form">
    <%= f.label :note %>
    <%= f.text_area :note %>
    </div>
</fieldset>
    <%= f.submit 'Add my Hours', :class => 'superbutton' %>
    <% end %>