<h1>Add a New Entry</h1>


<%= form_for @entry do |f| %>

<fieldset>
    <%= f.label :skill_id, "Select a Skill" %>
    <%= f.collection_select :skill_id, @skills, :id, :name %>
    <%= f.label :hours %>
    <%= f.text_field :hours %>
    <%= f.label :note %>
    <%= f.text_area :note %>
</fieldset>
    <%= f.submit %>
    <% end %>