<h1><%= @skill.name %></h1>
<h2><%= @skill.description %></h2>

<ul>
<% @skill.entries.each do |entry| %>
<li>
<p><%= entry.user.email %><br />
hours: <%= entry.hours %><br />
<%= entry.note %></p>
</li>
<% end %>
</ul>

<div>
<p><%= link_to "Add A Skill to the Database", new_skill_path %> || <%= link_to "See all Skills", skills_path %></p>
</div>
