
<p class="center">get the skills to pay your bills</p>


<h1>Here's what other people are learning</h1>
<ul>
<% @entries.each do |entry| %>
  <li><%= entry.user.email %> 
  <%= link_to "Profile", profile_path(:id => entry.user) %><br />
  <%= entry.skill.name %>  hours: <%= entry.hours%><br />
    <%= entry.note %> 
    <hr>
    </li>
<% end %>
</ul>

<% if user_signed_in? %>
  <div class="button"><%= link_to "Add a New Entry", new_entry_path %></div>
<% else %>
  <div><p><%= link_to "Sign in to Add an Entry", new_user_session_path %> || <%= link_to "See All Skills", skills_path %></p></div>
<% end %>