<ul>
<% @entries.each do |entry| %>
  <li> 
  <% if entry.user == current_user %> 
  <%= entry.user.email %>
  <% else %>
  <%= link_to entry.user.email, profile_path(:id => entry.user) %>
  <% end %><br />
  <%= link_to entry.skill.name, skill_path(:id => entry.skill) %>  <i>hours: <%= entry.hours %></i><br />
    <%= entry.note %> 
    <hr>
    </li>
<% end %>
</ul>

<% if user_signed_in? %>
  <div class="button"><%= link_to "Add a New Entry", new_entry_path %></div>
<% else %>
  <div><p><%= link_to "Sign in to Add an Entry", new_user_session_path %> || <%= link_to "See All Skills", skills_path %></p></div>
<% end %>