<!DOCTYPE html>
<html>
<%= favicon_link_tag %>
<head>
  <title>Ten Thousand Hours</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="page_container">
<div class="nav">
  <div class="logotype first">
    <%= link_to "tenTHOUSANDhours", root_path %> 
  </div>

    <% if user_signed_in? %>
    <div class="second"><p><%= link_to "All Skills", skills_path %> 
    || <b><%= link_to "Add a New Entry", new_entry_path %></b> 
    || Welcome, <%= link_to current_user.username , profile_path(id:current_user) %>! 
    || <%= link_to "Sign Me Out", destroy_user_session_path, method: :delete %>
    </p></div>
    <% else %>
    <div class="second"><%= link_to "Sign In", new_user_session_path %> | <%= link_to "New User", new_user_registration_path %></div>
    <% end %>
    
    </div>



    <% if notice %>
    <p class="notice"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert"><%= alert %></p>
      <% end %>
      <div id="maincontainer">
<%= yield %>
</div>
</div>
</body>
</html>
